body{
    background-image: url("../image/bgindex.jpg");
}

#top{
    /*background: slateblue ;*/
    width: auto;
    height: 100;
    webkit-border-radius: 10px;
    border-radius: 5px 5px 5px 5px;
    background: rgba(211, 211, 211, 0.4);
    border: 1px solid rgb(204, 204, 204);
    
}

#title{
    color: white;
    font-family: cursive;
    font-size: 50;
    float: left; 
    margin-left: 300;
}

#txtReg{
    margin: 10;
    width: 250;
    height:30 ;
    border-radius: 5px 5px 5px 5px;

}

#lblReg{
    width: 200;
    height:30 ;
    margin: 20;
    border: 30;
}